<div class="language-picker-area">
  Please select language
  <select (change)="selectLanguage($event)" name="language">
    <option value="en-US"> {{ 'language.english' | translate }} </option>
    <option value="fr-FR">{{ 'language.french' | translate }} </option>
    <option value="de-De">{{ 'language.german' | translate }}</option>
  </select>
</div>

<div>
  <h1>
    {{ 'title' | translate }}
  </h1>
  <h3>
    {{ 'welcome_text' | translate }}
  </h3>
  <button class="info">
    {{ 'info' | translate }}
  </button>
</div>

<router-outlet></router-outlet>
